{% extends 'base.html.twig' %}

{% block title %}Hello City!{% endblock %}


{% block body %}

    <img src="{{ asset('/images/Blason_Sainte-Catherine.png') }}" alt="Sainte Catherine de Fierbois Flag" width="200" class="mt-12 rounded">

    <h1 class="mt-5 text-1xl sm:text-5xl font-semibold text-indigo-600">Hello from Sainte Catherine de Fierbois!</h1>

    <p class="text-lg text-gray-800"> It's currently {{ 'now'|date('h:i A', 'Europe/Paris') }}.</p>




{% endblock %}